Vamos entender as tentativas de força bruta estão tentando fazer em seu site. Eles tentam encontrar um nome de usuário no seu site ou o ID do autor. 
Geralmente, o nome de usuário usado para acessar o WordPress e o nome do autor são os mesmos. Depois de encontrar um nome de usuário, isso resolve 50% do 
quebra-cabeça. Agora, eles forçam o site a quebrar a senha, tentando várias combinações diferentes de senha.

Let's understand the brute force attempts you are trying to make on your website. They try to find a username on their website or the author's ID. 
Generally, the username used to access WordPress and the name of the author are the same. Once you find a username, this solves 50% of the puzzle. 
Now, they force the site to crack the password, trying several different password combinations.

# BLOQUEO DE VERIFICAÇÃO DE AUTORES DO WORDPRESS #
# WORDPRESS AUTHORS CHECK BLOCK #
RewriteEngine On
RewriteBase /
RewriteCond %{QUERY_STRING} (author=\d+) [NC]
RewriteRule .* - [F]
